{% assign protocol = site.data.protocols[include.protocol] %}

<h2>Requirements</h2>
{% for entry in protocol.requirements %}
<h4>{{ entry.category_name }}</h4>
<ul class="list">
    {% for item in entry.items %}
    <li class="item">
        {{item.name}} x {{item.required}}
    </li>
    {% endfor %}
</ul>
{% endfor %}

<h2>Protocol</h2>

{% for section in protocol.protocol.sections %}
<h3>{{ section.title }}</h3>
<p>{{ section.description }}</p>
<blockquote>{{ section.note }}</blockquote>
{% for step in section.steps %}
1. {{ step.step }}
{% endfor %}
{% endfor %}
